.sub {
  width: 50%;
}
.card-body {
  color: aliceblue;
}
.image {
  width: 12%;
  margin-right: 10px;
}
.col {
  transition: all 0.4s;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px #1b202882;
  flex: 1 0 35%;
  background: #1b202882;
  min-height: 180px;
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(132, 86, 211, 0.309); scale: 1.05;
  }
}
